<% if user_signed_in? %> 
 <div> Olá, <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 

<% else %>
 <div> Menu de acesso </div> 

  <%= link_to "Login", new_user_session_path %> 
  <%= link_to "Cadastre-se", new_user_registration_path %> 

<% end %>
